@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.addUser {
  font-family: "Poppins", sans-serif;
  height: auto;
  width: 100vw;
}

.addUser h3 {
  color: #bbbbbb;
  text-align: center;
  font-size: 10vh;
  padding-top: 5vh;
}

.newTask {
  width: auto;
  height: auto;
  background-color: #e0662c;
  border-radius: 20px;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    text-align: center;
    margin: 1.5vh;
  }
}
.add {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    height: 5vh;
    width: 15vw;
    border-radius: 20px;
    border: none;
    background-color: #bbbbbb;
    color: #0e0d0d;
    text-align: center;
    margin-right: 5vh;
    font-size: 2vh;
  }

  button {
    text-decoration: none;
    border-radius: 20px;
    width: 7vw;
    height: 5vh;
    background-color: #024f33;
    border: none;
    color: #bbbbbb;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    background-color: #4a8a72;
  }
}
